[package]
name = "scylla-cql"
version = "0.0.7"
edition = "2021"
description = "CQL data types and primitives, for interacting with Scylla."
repository = "https://github.com/scylladb/scylla-rust-driver"
readme = "../README.md"
keywords = ["database", "scylla", "cql", "cassandra"]
categories = ["database"]
license = "MIT OR Apache-2.0"

[dependencies]
scylla-macros = { version = "0.2.0", path = "../scylla-macros"}
byteorder = "1.3.4"
bytes = "1.0.1"
num_enum = "0.6"
tokio = { version = "1.12", features = ["io-util", "time"] }
secrecy = { version = "0.7.0", optional = true }
snap = "1.0"
uuid = "1.0"
thiserror = "1.0"
bigdecimal = "0.2.0"
num-bigint = "0.3"
chrono = { version = "0.4", default-features = false }
lz4_flex = { version = "0.9.2" }
async-trait = "0.1.57"
serde = { version = "1.0", optional = true }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "benchmark"
harness = false

[features]
secret = ["secrecy"]
