[book]
title = "Scylla Rust Driver"
description = "Documentation for Scylla Rust Driver"
authors = []
language = "en"
multilingual = false
src = "src"

[rust]
edition = "2018"

[output.html]
default-theme = "ayu"
git-repository-url = "https://github.com/scylladb/scylla-rust-driver"