name: "Docs / Build PR"
# For more information,
# see https://sphinx-theme.scylladb.com/stable/deployment/production.html#available-workflows

on:
  pull_request:
    branches:
      - main
      - 'branch-*'
    paths:
      - "docs/**"
      - ".github/workflows/docs-pr.yaml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Set up env
        run: make -C docs setupenv
      - name: Build docs
        run: make -C docs test
      - name: Show preprocessing changes
        run: diff -r docs/source docs/_source || true
