name: "Docs / Build PR"
# For more information,
# see https://sphinx-theme.scylladb.com/stable/deployment/production.html#available-workflows

on:
  pull_request:
    branches:
      - main
      - 'branch-*'
    paths:
      - "docs/**"
      - ".github/workflows/docs-pr.yaml"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: docs
          enable-cache: true

      - name: Build docs
        run: make -C docs test

      - name: Show preprocessing changes
        run: diff -r docs/source docs/_source || true
