name: Serverless

on:
  push:
    branches:
    - main
    - 'branch-*'
  pull_request:
    branches:
    - '**'
env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    # ccm requires Python 2 when creating a serverless cluster.
    # Python 2 is pre-installed on Ubuntu 20.04.
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3
      - name: Install scylla-ccm
        run: pip3 install https://github.com/scylladb/scylla-ccm/archive/master.zip

      - name: Create serverless cluster
        run: |
          ccm create serverless -i 127.0.1. -n 1 --scylla -v release:5.1.6
          ccm start  --sni-proxy --sni-port 7777
      - name: Update rust toolchain
        run: rustup update
      - name: Check
        run: cargo check --verbose
      - name: Run cloud example
        run: cargo run --example cloud-openssl -- $HOME/.ccm/serverless/config_data.yaml
      - name: Run cloud tests
        run: CLOUD_CONFIG_PATH=$HOME/.ccm/serverless/config_data.yaml RUSTFLAGS="--cfg scylla_cloud_tests" RUST_LOG=trace cargo test --verbose

      - name: Remove serverless cluster
        run: ccm remove serverless